.color-c { color: red !important; }
.color-o { color: orange !important; }
.color-l { color: yellow !important; }
.color-o2 { color: green !important; }
.color-u { color: blue !important; }
.color-r { color: indigo !important; }

.color-s { color: #32CD32 !important; }
.color-h { color: #228B22 !important; }
.color-a { color: #006400 !important; }
.color-d { color: #2E8B57 !important; }
.color-e { color: #98FB98 !important; }
