.color-c { color: red; }
.color-o { color: orange; }
.color-l { color: yellow; }
.color-o2 { color: green; }
.color-u { color: blue; }
.color-r { color: indigo; }


.color-s { color: #32CD32; }
.color-h { color: #228B22; }
.color-a { color: #006400; }
.color-d { color: #2E8B57; }
.color-e { color: #98FB98; }
