.color-c { color: #FF6347; }
.color-o { color: #FF4500; }
.color-l { color: #FF1493; }
.color-o2 { color: #FF69B4; }
.color-u { color: #FF6347; }
.color-r { color: #8A2BE2; }

.color-s { color: #32CD32; }
.color-h { color: #228B22; }
.color-a { color: #006400; }
.color-d { color: #2E8B57; }
.color-e { color: #98FB98; }
